<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Setup</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen style="--background: url('assets/img/background.jpg');">
  <div class="centered">
   <div class="img">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    <ion-icon name="camera-outline"></ion-icon>
   </div>
    <ion-input placeholder="Name" mod="ios" [(ngModel)]="name"></ion-input>
    <ion-input placeholder="Birthdate" mod="ios" [(ngModel)]="birth"></ion-input>
    <ion-button expand="block" (click)="updateUser(name,'userlogo.png',birth)">Continue</ion-button>
  </div>
</ion-content>
