<ion-header class="ion-no-border" no-border>
  <ion-toolbar>
    <ion-title>
      Chatter Box
    </ion-title>
    <preferences slot="end"></preferences>
  </ion-toolbar>
</ion-header>
<super-tabs activeTabIndex="0" [config]="config">
  <super-tabs-toolbar slot="top">
    <super-tab-button>
      <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
      <!-- <ion-label>Chat</ion-label> -->
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="images-outline"></ion-icon>
      <!-- <ion-label>Status</ion-label> -->
    </super-tab-button>
    <super-tab-button>
      <ion-icon name="call-outline"></ion-icon>
      <!-- <ion-label>Calls</ion-label> -->
    </super-tab-button>
  </super-tabs-toolbar>

  <super-tabs-container autoScrollTop>
    <super-tab>
      <ion-nav [root]="chattPage"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="statuspage"></ion-nav>
    </super-tab>
    <super-tab>
      <ion-nav [root]="callsPage"></ion-nav>
    </super-tab>
  </super-tabs-container>
</super-tabs>
